@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}
textarea {
    resize: none;
}

/*防止拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1300px;
    margin: 0 auto;
}

.shortcut {
    height: 50px;
    line-height: 50px;
    background-color: #f1f1f1;
}
.scleft li{
    float: left;
    padding: 0 15px;
    font-size: 17px;
}
.shortcut .findjob{
    color: #C81623;
}
.shortcut .messages{
    float: right;

}
.againw {
    border-top: 1px solid #E5E5E5;
    padding: 23px 0 30px 0;
    margin-top: 50px;
    text-align: center;
}
.copyright {

    line-height: 18px;
    margin-bottom: 10px;
}
.search{
    margin-top: 50px;
    height: 400px;
    padding-top: 50px;
    border:1px solid #E5E5E5;

}
.job{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    float: left;
}
.search .icl-TextInput-label--whatWhere {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
    color: #000;
    font-size: 20px;
}

.search .icl-TextInput-helpText--whatWhere {
    color: #767676;
    font-family: Helvetica Neue,Helvetica,Arial,Liberation Sans,Roboto,Noto,sans-serif;
    font-size: .75rem;
    letter-spacing: 0;
    line-height: 1rem;
    font-weight: 400;
    display: inline;
}
.search .job_input{
    border: 1px solid #767676;
    height: 40px;
    width: 400px;
    border-radius:10px 0px 0px 10px;
    margin-left: 15px;
    padding-left: 5px;
}
.search .location{
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}
.search .location_input{
    border: 1px solid #767676;
    height: 40px;
    width: 400px;
    border-radius:10px 0px 0px 10px;
    margin-left: 15px;
    padding-left: 10px;
}
.search button{
    border: 1px solid darkgreen;
    margin-top: 45px;
    width: 60px;
    height: 40px;
    margin-left: 40px;
    float: left;
    background-color: deepskyblue;
}
.tableopen {
    text-align: center;
}
.tableopentd01 {
    text-align: center;
    border: 1px solid #FFFFFF;
    padding: 3px;
    color: #FFFFFF;
}
.tableopentd02 {
    text-align: center;
    padding: 3px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #C5E0E2;
    border-right-color: #C5E0E2;
    border-bottom-color: #C5E0E2;
    border-left-color: #C5E0E2;
}
.Recommend_job{
    font-size: 30px;
    color: #1d1e1f;
    text-align: center;
    margin-bottom: 10px;
}